<div>
    <h2>
        <span jhiTranslate="pipApp.jobShadow.home.title">Job Shadows</span>
        <button *jhiHasAnyAuthority="'ROLE_COMPANY'" class="btn btn-primary float-right jh-create-entity create-job-shadow" [routerLink]="['/', { outlets: { popup: ['job-shadow-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="pipApp.jobShadow.home.createLabel">
            Create new Job Shadow
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pipApp.jobShadow.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobShadows">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="pipApp.jobShadow.datetime">Date & Time</span></th>
            <th><span jhiTranslate="pipApp.jobShadow.capacity">Capacity</span></th>
            <th><span jhiTranslate="pipApp.jobShadow.jobShadowType">Job Shadow Type</span></th>
            <th><span jhiTranslate="pipApp.jobShadow.transport">Transport</span></th>
            <th><span jhiTranslate="pipApp.jobShadow.lunch">Lunch</span></th>
            <th><span jhiTranslate="pipApp.jobShadow.businessUnit">Business Unit</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="pipApp.jobShadow.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobShadow of jobShadows ;trackBy: trackId">
                <!--<td><a [routerLink]="['../job-shadow', jobShadow.id ]">{{jobShadow.id}}</a></td>-->
                <td>{{jobShadow.datetime | date:'medium'}}</td>
                <td>{{jobShadow.capacity}}</td>
                <td jhiTranslate="{{'pipApp.JobShadowType.' + jobShadow.jobShadowType}}">{{jobShadow.jobShadowType}}</td>
                <td>{{jobShadow.transport}}</td>
                <td>{{jobShadow.lunch}}</td>
                <td>
                    <div *ngIf="jobShadow.businessUnit">
                        <a [routerLink]="['../business-unit', jobShadow.businessUnit?.id ]" >{{jobShadow.businessUnit?.unitName}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{jobShadow.user?.login}}
                </td>
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_COMPANY'" class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-shadow', jobShadow.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-shadow/'+ jobShadow.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-shadow/'+ jobShadow.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                    <div *jhiHasAnyAuthority="'ROLE_STUDENT'" class="btn-group flex-btn-group-container">
                        <button type="submit"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-long-arrow-right"></span>
                            <span class="d-none d-md-inline">Apply</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
