<div>
    <h2>
        <span jhiTranslate="pipApp.achievement.home.title">Achievements</span>
        <button *jhiHasAnyAuthority="'ROLE_COMPANY'" class="btn btn-primary float-right jh-create-entity create-achievement" [routerLink]="['/', { outlets: { popup: ['achievement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="pipApp.achievement.home.createLabel">
            Create new Achievement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pipApp.achievement.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achievements">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="pipApp.achievement.title">Title</span></th>
            <th><span jhiTranslate="pipApp.achievement.description">Description</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="pipApp.achievement.count">Count</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="pipApp.achievement.total">Total</span></th>
            <th *jhiHasAnyAuthority="'ROLE_STUDENT'"><span jhiTranslate="pipApp.achievement.total">Progress</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="pipApp.achievement.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let achievement of achievements ;trackBy: trackId">
                <!--<td><a [routerLink]="['../achievement', achievement.id ]">{{achievement.id}}</a></td>-->
                <td>{{achievement.title}}</td>
                <td>{{achievement.description}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{achievement.count}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{achievement.total}}</td>
                <td *jhiHasAnyAuthority="'ROLE_STUDENT'">
                    <ngb-progressbar type="success" [max]="achievement.total" [value]="achievement.count" [striped]="true" [animated]="true">
                        <span>{{achievement.count * 100 / achievement.total  | number:'1.0-0'}}%</span>
                    </ngb-progressbar>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{achievement.user?.login}}
                </td>
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_COMPANY'" class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../achievement', achievement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement/'+ achievement.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement/'+ achievement.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                    <div *jhiHasAnyAuthority="'ROLE_STUDENT'" class="btn-group flex-btn-group-container">
                        <button type="submit"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-facebook"></span>
                            <span class="d-none d-md-inline">Share</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
