
<div *ngIf="achievement">
    <h2><span jhiTranslate="pipApp.achievement.detail.title">Achievement</span> {{achievement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pipApp.achievement.title">Title</span></dt>
        <dd>
            <span>{{achievement.title}}</span>
        </dd>
        <dt><span jhiTranslate="pipApp.achievement.description">Description</span></dt>
        <dd>
            <span>{{achievement.description}}</span>
        </dd>
        <dt><span jhiTranslate="pipApp.achievement.count">Count</span></dt>
        <dd>
            <span>{{achievement.count}}</span>
        </dd>
        <dt><span jhiTranslate="pipApp.achievement.total">Total</span></dt>
        <dd>
            <span>{{achievement.total}}</span>
        </dd>
        <dt><span jhiTranslate="pipApp.achievement.user">User</span></dt>
        <dd>
            {{achievement.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'achievement/'+ achievement.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
